@*@model IEnumerable<DanceStudioWebProject.Models.choreographer>*@

@{
    ViewBag.Title = "ManageChoreographers";
}

<h2 style="text-align:center;">ManageChoreographers</h2>
<style>
    body {
        background-color: darkturquoise;
    }
</style>
@*@using (Html.BeginForm("ManageChoreographers", "Admin", FormMethod.Post))
    {
    <div class="row">
        <div class="col-lg-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control"/>
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>

        <hr/>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DanceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DanceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditChoreographers", new { id = item.username }) |
                        @Html.ActionLink("Delete", "DeleteChoreographers", new { id = item.username })
                    </td>
                </tr>
            }

        </table>
    }*@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<div>
    <table id="tbmanagechoreographer" class="display" cellspacing="0" data-page-length='5'>
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>DanceType</th>
                <th>Email</th>
                <th>Gender</th>
                <th>City</th>
                <th>Mobile Number</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#tbmanagechoreographer").DataTable({
                "ajax": {
                    "url": '@Url.Action("GetChoreographers", "Admin")',
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "username", "autowidth": true },
                    { "data": "Name", "autowidth": true },
                    { "data": "DanceType", "autowidth": true },
                    { "data": "Email", "autowidth": true },
                    { "data": "Gender", "autowidth": true },
                    { "data": "City", "autowidth": true },
                    { "data": "MobileNumber", "autowidth": true },
                    {  
                          "render": function (data, type, full, meta)  
                          { return '<a class="btn btn-info" href="/Admin/EditChoreographers/' + full.username + '">Edit</a>'; }  
                    }, 
                    {  
                          "render": function (data, type, full, meta)  
                          { return '<a class="btn btn-danger" href="/Admin/DeleteChoreographers/' + full.username + '">Delete</a>'; }  
                    } 
                ]
            });

        });

    </script>
}